.BagGroupTiles {
    display: inline-block;
    width: 200px;
    height: 200px;
    background: url(../../images/azul_pad.png) no-repeat top left;
    padding: unset;
}

.BagGroupTilesTable {
    margin: 35px 35px;
    table-layout: auto;
}