body {
  margin: 0;
  padding: 0;
  padding-bottom: 56px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

h1 h2 h3 h4 h5 h6 {
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
